# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=estate_db
DB_USER=estate_user
DB_PASSWORD=admin123

# Redis Configuration
REDIS_URL=redis://redis:6379

# Elasticsearch Configuration
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
ELASTICSEARCH_INDEX=real_estate_ads
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000


# Proxy Configuration (optional)
USE_PROXY=false
PROXY_URL=
